@model DepartmentViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>

<form class="my-5">
    
    <partial name="PartialViews/DetailsDeletePartial" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back To List</a>
</form>
